<h1 class="text-center">Liste des Cocktails</h1>

<div class="container text-center unstyled">
        <% @cocktails.each do |cocktail| %>
        <%= cocktail.name %>
        <%= link_to 'details', cocktail_path(cocktail) %>
        <% end %>
</div>
