<h1 class="text-center">New Cocktail</h1>

<div class="container text-center">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.submit "NEW", {class: "btn btn-primary"} %>
  <% end %>
</div>
