<div class="container text-center">
<ul class="list-unstyled">
    <% @cocktail.doses.each do |dose|%>
  <li>
  <%= dose.description %> de <%= dose.ingredient.name %>
  </li>
  <% end %>
</ul>

  <%= render "doses/form", cocktail: @cocktail %>
  <hr>

</div>

